-- Combat settings
-- NOTE: valid values for worldType are: "pvp", "no-pvp" and "pvp-enforced"
worldType = "pvp"
hotkeyAimbotEnabled = true
protectionLevel = 1
-- NOTE: Frags Systems"
redDailyLimit = 3
redWeeklyLimit = 5
redMonthlyLimit = 10
redSkullLength = 30 * 24 * 60 * 60
blackDailyLimit = 6
blackWeeklyLimit = 10
blackMonthlyLimit = 20
blackSkullLength = 45 * 24 * 60 * 60
-------------------
pzLocked = 5000
removeChargesFromRunes = false
removeChargesFromPotions = false
removeWeaponAmmunition = false
removeWeaponCharges = true
whiteSkullTime = 15 * 60
stairJumpExhaustion = 2000
experienceByKillingPlayers = false
expFromPlayersLevelRange = 75
pzLockSkullAttacker = false

--When the player logs in, he has a certain protection time.
protectionTime = 10 -- Time in seconds

-- Connection Config
-- NOTE: maxPlayers set to 0 means no limit
-- NOTE: allowWalkthrough is only applicable to players
ip = "127.0.0.1"
bindOnlyGlobalAddress = false
loginProtocolPort = 7171
gameProtocolPort = 7172
statusProtocolPort = 7171
maxPlayers = 0
motd = "Welcome to The Fonticak Server!"
onePlayerOnlinePerAccount = false
allowClones = false
allowWalkthrough = true
serverName = "Fonticak Server Global"
statusTimeout = 5000
replaceKickOnLogin = true
maxPacketsPerSecond = 300

-- Deaths
-- NOTE: Leave deathLosePercent as -1 if you want to use the default
-- death penalty formula. For the old formula, set it to 10. For
-- no skill/experience loss, set it to 0.
deathLosePercent = -1

-- Houses
-- NOTE: set housePriceEachSQM to -1 to disable the ingame buy house functionality
-- NOTE: valid values for houseRentPeriod are: "daily", "weekly", "monthly", "yearly"
-- use any other value to disable the rent system
housePriceEachSQM = 1000
houseRentPeriod = "never"
houseOwnedByAccount = false
houseDoorShowPrice = true
onlyInvitedCanMoveHouseItems = true

-- Map
-- NOTE: set mapName WITHOUT .otbm at the end
mapName = "fonticakmap"
mapAuthor = "Fabian Marzan"

-- Market
marketOfferDuration = 30 * 24 * 60 * 60
premiumToCreateMarketOffer = true
checkExpiredMarketOffersEachMinutes = 60
maxMarketOffersAtATimePerPlayer = 100

-- MySQL
mysqlHost = "127.0.0.1"
mysqlUser = "root"
mysqlPass = ""
mysqlDatabase = "serverglobal"
mysqlPort = 3306
mysqlSock = ""

-- Misc.
-- NOTE: classicAttackSpeed set to true makes players constantly attack at regular
-- intervals regardless of other actions such as item (potion) use. This setting
-- may cause high CPU usage with many players and potentially affect performance!
-- NOTE: forceMonsterTypesOnLoad loads all monster types on startup to validate them.
-- You can disable it to save some memory if you don't see any errors at startup.
allowChangeOutfit = true
freePremium = false
kickIdlePlayerAfterMinutes = 15
maxMessageBuffer = 4
emoteSpells = true
classicEquipmentSlots = true
classicAttackSpeed = true
showScriptsLogInConsole = false
showOnlineStatusInCharlist = false
yellMinimumLevel = 2
yellAlwaysAllowPremium = false
minimumLevelToSendPrivate = 1
premiumToSendPrivate = false
forceMonsterTypesOnLoad = true
cleanProtectionZones = false
luaItemDesc = false
npcsUsingBankMoney = true
npcsShopDelay = 400 -- Place delay when buying and selling in npcs.

-- VIP and Depot limits
-- NOTE: you can set custom limits per group in data/XML/groups.xml
vipFreeLimit = 20
vipPremiumLimit = 100
depotFreeLimit = 2000
depotPremiumLimit = 10000

-- World Light
-- NOTE: if defaultWorldLight is set to true the world light algorithm will
-- be handled in the sources. set it to false to avoid conflicts if you wish
-- to make use of the function setWorldLight(level, color)
defaultWorldLight = true

-- Server Save
-- NOTE: serverSaveNotifyDuration in minutes
serverSaveNotifyMessage = true
serverSaveNotifyDuration = 5
serverSaveCleanMap = false
serverSaveClose = false
serverSaveShutdown = true

-- Experience stages
-- NOTE: to use a flat experience multiplier, set experienceStages to nil
-- minlevel and multiplier are MANDATORY
-- maxlevel is OPTIONAL, but is considered infinite by default
-- to disable stages, create a stage with minlevel 1 and no maxlevel
experienceStages = {
	{ minlevel = 1, maxlevel = 50, multiplier = 100},
	{ minlevel = 51, maxlevel = 70, multiplier = 80},
	{ minlevel = 71, maxlevel = 80, multiplier = 65},
	{ minlevel = 81, maxlevel = 100, multiplier = 45},
	{ minlevel = 101, maxlevel = 120, multiplier = 25},
	{ minlevel = 121, maxlevel = 140, multiplier = 10},
	{ minlevel = 141, maxlevel = 175, multiplier = 8},
	{ minlevel = 176, maxlevel = 180, multiplier = 2},
	{ minlevel = 181, maxlevel = 200, multiplier = 1.5},
	{ minlevel = 201, maxlevel = 500, multiplier = 1}
}

-- Rates
-- NOTE: rateExp is not used if you have enabled stages above
-- rateSpellCooldown lowering it makes the cooldown less.
rateExp = 0
rateSkill = 10
rateLoot = 3.5
rateMagic = 4.5
spawnMultiplier = 1
rateSpellCooldown = 1

-- Monster Level System --
monsterBonusHealth = 0.5
monsterBonusSpeed = 0.02
monsterBonusDamage = 0.02

-- Today regeneration condition over an loop every 1 second,
-- So values which should regenerated less then 1 second or won't will work
rateHealthRegen = 1.0
rateHealthRegenSpeed = 1.0
rateManaRegen = 1.0
rateManaRegenSpeed = 1.0
rateSoulRegen = 1.0
rateSoulRegenSpeed = 1.0
rateAttackSpeed = 1.0

-- Rate Spawn Effect --
-- timeStartEffect = Effect time that it will do when this point reappears.
-- timeBetweenTeleportEffects = Time of effect that it will do at the beginning.
timeStartEffect = 4200
timeBetweenTeleportEffects = 1400

-- Sort loot by chance, most rare items drop first
-- it is good to be setted when you have a higher
-- rateLoot to avoid losing all rare items when
-- the corpse size is less than the total of loots
-- the monster can drop
sortLootByChance = false

-- Monster Despawn Config
-- despawnRange is the amount of floors a monster can be from its spawn position
-- despawnRadius is how many tiles away it can be from its spawn position
-- removeOnDespawn will remove the monster if true or teleport it back to its spawn position if false
-- walkToSpawnRadius is the allowed distance that the monster will stay away from spawn position when left with no targets, 0 to disable
deSpawnRange = 2
deSpawnRadius = 50
removeOnDespawn = true
walkToSpawnRadius = 15

-- Stamina
staminaSystem = true
timeToRegenMinuteStamina = 3 * 60
timeToRegenMinutePremiumStamina = 6 * 60

-- Stamina in Trainers
staminaTrainer = true
staminaTrainerDelay = 5
staminaTrainerGain = 1

-- Stamina in PZ
staminaPz = true
staminaOrangeDelay = 1
staminaGreenDelay = 5
staminaPzGain = 1

-- Max players allowed on a dummy.
maxAllowedOnADummy = 5
rateExerciseTrainingSpeed = rateAttackSpeed

-- Scripts
warnUnsafeScripts = true
convertUnsafeScripts = true

-- Startup
-- NOTE: defaultPriority only works on Windows and sets process
-- priority, valid values are: "normal", "above-normal", "high"
defaultPriority = "high"
startupDatabaseOptimization = false
blockLogin = false
blockLoginText = "Server is closed for bug fixing."
showPackets = false

-- Status Server Information
ownerName = "Fabian Marzan"
ownerEmail = "info.fonticak@gmail.com"
url = "https://otland.net/"
location = "Puerto Rico"
